<?php
class DATABASE_CONFIG {

	public $default = array(
		'datasource' => 'Database/Mysql',
		'persistent' => false,
		'host' => 'localhost',
		'login' => 'root',
		'password' => 'toordb',
		'database' => 'mddb',
		'prefix' => ''
	);

	public $store = array(
		'datasource' => 'Database/Mysql',
		'persistent' => false,
		'host' => 'localhost',
		'login' => 'root',
		'password' => 'toordb',
		'database' => 'amigo',
		'prefix' => ''
	);
}
